html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
}

#canvas,
#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#canvas {
    object-fit: contain;
    background: transparent;
    /* clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%); */
}

#info {
    position: fixed;
    top: 5px;
    left: 5px;
    background: black;
    color: white;
}

.controls {
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.controls button {
    border-radius: 5px;
}